<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LOGIN/SIGNUP</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="main">
      <if id="leftcontainer">
        <center><h2>LOGIN</h2></center> <br> <br>
				<form action="/successLogin" method="post">
					<input type="text" name="email" placeholder="Email"> <br> <br>
					<input type="password" name="password" placeholder="Password"><br> <br>
					<div class="checkbox">
						<input type="checkbox" name=checked><label>Remember me</label>
						<a href="/" id="forgetpass">Forget Password</a>
					</div> <br> <br>
                {{#if errorMessage}}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{errorMessage}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{/if}}
                    <input type="submit" value="LOGIN" id="loginbtn">
                </form> <br>
            <center>Don't have account ? <a href="/">Register now</a></center>
      </div>
      <div id="rightcontainer">
        <center><h2>SIGNUP</h2></center>
        <center><p>Choose your account type</p></center>
        <div class="options">
          <button><img src="./client logo.jpg" alt="clientlogo"><br>Client</button>
          <button><img src="./admin logo.png" alt="adminlogo"><br>Admin</button>
          <button><img src="./developer logo.jpg" alt="devlogo"><br>Developer</button>
        </div> <br>

      <form action="/addUser" method="post">
        <input type="text" placeholder="First Name" name="First_name">
        <input type="text" placeholder="Last Name" name="Last_name"> <br> <br>
        <input type="email" placeholder="Email" name="email"> <br><br>
        <input type="password" placeholder="Password" name="password"> <br> <br>
                {{#if addUser}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{addUser}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{/if}}
        <input type="submit" value="Signup" id="signupbtn">


      </form>
       
      </div>
    </div>
  </body>
</html>
